/* Header Rules */ 

.logo {
	width: 35%;
	float: left;
}

.cart {
	width: 13%;
	float: right;
}

ul {
	display: flex;
	justify-content: center;
	list-style-type: none;	
	padding-right: 5.75rem;
	padding-top: 4rem;
}

li {
	padding-right: 1.25rem;
	font-family: 'railwayregular';
	color: #e2574c;
	font-size: 0.875rem;
}

/* Background Rules */ 

.background {
	background-image: url('./images/banner-girl.png'), url('./images/flower-bkgd.jpg');
	background-repeat: no-repeat, repeat;
	background-size: auto 90%, auto;
	background-position: center bottom;
	height: 22rem;
	width:100%;
}

.background h6 {
	padding-top: 7rem;
	text-align: center;
	font-family: 'railwayregular';
	text-transform: uppercase;
	color: white;
}

.background h1 {
	text-align: center;
	font-family: 'playfair_displayregular';
	color: white;
}

/* Introduction Rules */ 

h2 {
	padding-top: .5rem;
	text-align: center;
	font-family: 'playfair_displayregular';
}

.firstparagraph p {
	text-align: center;
	font-family: 'railwayregular';
	color: #969696;
	padding-bottom: .5rem;
}

/* Category Rules */

.categories {
	display: flex;
	flex-wrap: wrap;
	padding-top: 0.625rem;
 }

 .categories h2 {
	display: flex;
	justify-content: center;
	padding-top: 3.5rem;
	font-family: 'railwayregular';
	color: white;
 }

/* Individual Category Rules */

 .mens {
 	background-image: url('./images/mens-category.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 12rem;
 }

.trends {
	background-image: url('./images/trends-category.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 48%;
	height: 12rem;
}

.glasses {
	background-image: url('./images/glasses-category.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 48%;
	height: 12rem;
	border-left: .75rem solid white;
}

.sale {
	background-image: url('./images/sale-category.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 48%;
	height: 12rem;
}

.bags {
	background-image: url('./images/bags-category.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 48%;
	height: 12rem;
	border-left: .75rem solid white;
}

.womens {
	background-image: url('./images/womens-category.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 12rem;
}

h2.double {
	padding-bottom: 1rem;
}

/* MLP Rules */ 


.bx-wrapper img {
    margin-left: 1rem;
}

.bxslider li h4 {
	font-family: 'railwayregular';
	color: #969696;
	text-align: center;
	text-transform: uppercase;
}

.bxslider li h5 {
	color: #e2574c;
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 1.25rem;
}

.bxslider li h4 {
	font-family: 'railwayregular';
	color: #969696;
	text-align: center;
	text-transform: uppercase;
}

.bxslider li h5 {
	color: #e2574c;
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 1.25rem;
}

/* Wave Section Rules */ 

.wave {
	background-image: url('./images/wave-bkgd.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	height: 15rem;
}

.signup h2 {
	color: white;
	padding-top: 1.75rem;
}

.blurb p {
	font-family: 'railwayregular';
	color: white;
	text-align: center;
}

/* Button - Form Rules */ 

form {
	padding-top: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.thepill { 
	width: 75%;
	background-color: white;
	border-radius: 2rem;
	height: 1.5rem;
	padding-top: .25rem;
	padding-bottom: .7rem;
 }

 input {
 	border: none;
 	outline: none;
 	width: 55%;
 	height: 1.5rem;
 	margin-left: 1rem;
 }

 button {
 	width: 35%;
 	height: 2rem;
 	border-style: solid;
 	border-color: transparent;
 	background-color: #e2574c;
 	color: white;
 	border-radius: 1rem;
 }

/* Footer Rules */

.space {
	background-color: white;
	height: .5rem;
}
footer {
	background-color: #2d2d2d;
	height: 12rem;
}

.info {
	padding-top: 1rem;
	font-family: 'railwayregular';
	color: white;
	text-align: center;
	font-size: .1rem;
}

.address h4 {
	color: grey;
}

/* Social Rules */ 

.social {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
}

.fb a::before {
	content: "\f230";
	color: white;
	font-family: fontawesome;
	padding-right: 0.312em;
}

.tw a::before {
	content:"\f081";
	color: white;
	font-family: fontawesome;
	padding-right: 0.312em;
}

.insta a::before {
	content:"\f16d";
	color: white;
	font-family: fontawesome;
	padding-right: 0.312em;
}

.pin a::before {
	content:"\f0d3";
	color: white;
	font-family: fontawesome;
	padding-right: 0.312em;
}

.gplus a::before {
	content:"\f0d4";
	color: white;
	font-family: fontawesome;
	padding-right: 0.312em;
} 

span {
	display: none;
}

a {
	text-decoration: none; 
	color: inherit;
}



